# Compiled output
target/
build/
out/
*.class

# IDE-specific files
.idea/*
!.idea/modules/
!.idea/workspace.xml
.classpath
.project
.settings/
*.iml

# Executables and archives
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Log files
*.log

# Dependency management (if applicable)
node_modules/

# OS-specific files
.DS_Store
Thumbs.db

# Other temporary files
*.tmp
*.swp
*~